<form name="form">
    <div class="col-md-3">
        <uib-accordion>
            <uib-accordion-group is-open="status.open">
                <uib-accordion-heading>
                    <div>
                        Guests
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </div>
                </uib-accordion-heading>

                <div ng-repeat="passengerType in vm.passengerTypes">
                    <passenger-directive passenger-type-id='{{passengerType.passengerTypeId}}'></passenger-directive>
                </div>

            </uib-accordion-group>
        </uib-accordion>

        <!--<div class="form-group">
            <select class="form-control" name="from" ng-model="selectedAirportDep" ng-options="(itm.city + ', ' + itm.country + ' - ' + itm.iata) for itm in airports"
            required>
                <option disabled value="" ng-selected="selected">{{searchViewConfig.searchViewConfigText.outboundAirportText}}:</option>
            </select>
        </div>-->


        <!--<div ng-repeat="route in vm.config.travelRoutesConfig.routes">
            <div ng-repeat="(key, value) in route">
             {{key}}: {{vm.airports.airportList | airportfilter : key}}
            </div>
        </div>-->
    </div>
</form>