<div class="row passenger-div">
    <div class="passengers pull-left">
        {{passengerType.passenger}}: {{passengerType.qty}}
        <!--<div ng-show="error">Error</div>-->
        <div class="error-text" ng-show="maxPassengerError">Maximum passengers is {{maxAllowedPassengers}}</div>	
    </div>
    <div class="pull-right">
        <span class="glyphicon glyphicon-plus" ng-click="increment()"></span>
        <span class="glyphicon glyphicon-minus" ng-click="decrement()"></span>
    </div>
</div>